version: '3.8'
services:
  postgres:
    image: postgres:15
    container_name: postgres_db
    environment:
      POSTGRES_DB: cloudbox
      POSTGRES_USER: daniil
      POSTGRES_PASSWORD: 2307
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped
  redis:
    image: redis:7-alpine
    container_name: redis_7
    ports:
      - "6379:6379"
    restart: unless-stopped
  minio:
    image: quay.io/minio/minio:latest
    container_name: minio_storage
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: "minioadmin"
      MINIO_ROOT_PASSWORD: "minioadmin123"
    command: server --console-address ":9001" /data
    volumes:
      - data-minio:/data
    restart: always

volumes:
  postgres_data:
  data-minio: